<section class="head-car-info">
  <div class="car-block">
    <img
      class="car_img"
      src="../img/images/touareg_desktop.png"
      alt="Touareg_car"
    />
  </div>
  <div class="car-informations">
    <h2 class="car-title">Volkswagen Touareg</h2>
    <p class="price">32,98 EUR/day</p>
    <div class="car-included-block">
      <h3 class="car-included-title">Included in Price</h3>
      <ul class="included-list">
        <li>
          <img
            src="../img/images/check-circle-broken.png"
            alt="Check picture"
          />
          <p>Airport/City Fee</p>
        </li>
        <li>
          <img
            src="../img/images/check-circle-broken.png"
            alt="Check picture"
          />
          <p>Local Tax</p>
        </li>
        <li>
          <img
            src="../img/images/check-circle-broken.png"
            alt="Check picture"
          />
          <p>Registration Fee</p>
        </li>
        <li>
          <img
            src="../img/images/check-circle-broken.png"
            alt="Check picture"
          />
          <p>Unlimited Mileage</p>
        </li>
      </ul>
    </div>
    <ul class="car-characteristics">
      <li>
        <img src="../img/images/icon-car doors.png" alt="Car dors" />
        <p>5 Doors</p>
      </li>
      <li>
        <img src="../img/images/luggage-01.png" alt="Luggage" />
        <p>3 Suitcase</p>
      </li>
      <li>
        <img src="../img/images/tabler_manual-gearbox.png" alt="Transmition" />
        <p>5 Manual</p>
      </li>
      <li>
        <img src="../img/images/users-01.png" alt="Passengers" />
        <p>5 Passengers</p>
      </li>
    </ul>
    <div class="add-extras">
      <button id="next-section" class="add-extras-btn">Add on extras</button>
    </div>
  </div>
</section>

<section id="extra-info-1" class="extra-info">
  <h3>Additional Details</h3>
  <p>
    Here you can display more detailed information about the car or add features
    related to extras.
  </p>
  <button class="next-btn">Next</button>
</section>

<section id="extra-info-2" class="extra-info">
  <h3>Extras</h3>
  <p>Choose additional services or equipment for the car.</p>
  <button class="next-btn">Next</button>
</section>

<section id="extra-info-3" class="extra-info">
  <h3>Price Details</h3>
  <p>Review the price and the conditions for renting the car.</p>
  <button class="next-btn">Next</button>
</section>

<section id="extra-info-4" class="extra-info">
  <h3>Final Confirmation</h3>
  <p>Confirm your rental details.</p>
  <button class="next-btn">Confirm</button>
</section>
