<section class="confirm-order">
  <h3 class="confirm-order-title">Confirming Order</h3>

  <form class="confirm-form" action="#" method="post" novalidate>
    <label class="confirm-form-label" for="first-name">
      <p>First Name <span class="required">*</span></p>
      <input
        type="text"
        id="first-name"
        name="first-name"
        placeholder="Enter Your First Name"
        required
      />
    </label>

    <label class="confirm-form-label" for="last-name">
      <p>Last Name <span class="required">*</span></p>

      <input
        type="text"
        id="last-name"
        name="last-name"
        placeholder="Enter Your Last Name"
        required
      />
    </label>

    <label class="confirm-form-label" for="email">
      <p>Email <span class="required">*</span></p>

      <input
        type="email"
        id="email"
        name="email"
        placeholder="olivia@untitledui.com"
        required
      />
    </label>

    <label class="confirm-form-label" for="phone">
      <p>Phone number <span class="required">*</span></p>

      <input
        type="tel"
        id="phone"
        name="phone"
        placeholder="+1 (555) 000-0000"
        required
        pattern="^\+?[0-9\s\-\(\)]+$"
      />
    </label>

    <div class="order-summary">
      <div class="order-summary-points">
        <p>Date</p>
        <p>Jan 1 | 08:00 - Jan 2 | 20:00</p>
      </div>
      <div class="order-summary-points">
        <p>Location</p>
        <p>Bratislava Bus... - Bratislava Bus...</p>
      </div>
      <div class="order-summary-points">
        <p>Volkswagen Touareg</p>
        <p>32,98 EUR</p>
      </div>
      <div class="order-summary-points">
        <p>Basic Insurance</p>
        <p>15 EUR</p>
      </div>
      <div class="order-summary-total">
        <p>Total</p>
        <p>62,98 EUR</p>
      </div>
    </div>
    <div class="terms-checkbox">
      <input type="checkbox" id="terms" />
      <label class="terms-checkbox-label" for="terms"
        >I accept the <a href="#">terms & conditions</a></label
      >
    </div>
    <div class="payment-buttons">
      <button class="button-cash" type="button" aria-label="Pay with cash">
        Pay Cash
      </button>
      <button
        class="button-card"
        type="button"
        aria-label="Pay with card"
        onclick="handleCardPayment()"
      >
        Pay Card
      </button>
    </div>
  </form>
</section>
