<div id="extra-info-2" class="extra-info">
  <h3 class="extra-info-title">Add on extras</h3>
  <ul class="extra-info-list">
    <li class="extra-item active">
      <div class="extra-item-first-block">
        <img src="../img/images/infinity.png" alt="Infinity" />
        <div class="extra-info-coast">
          <p>Unlimited Mileage</p>
          <p>$15</p>
        </div>
      </div>
      <button type="button" class="toggle-btn">
        <img
          src="../img/images/minus.png"
          alt="Toggle"
          data-plus="../img/images/plus.png"
          data-minus="../img/images/minus.png"
        />
      </button>
    </li>
    <li class="extra-item">
      <div class="extra-item-first-block">
        <img src="../img/images/globe-05.png" alt="Globe" />
        <div class="extra-info-coast">
          <p>Cross-border Fee</p>
          <p>$15</p>
        </div>
      </div>
      <button type="button" class="toggle-btn active">
        <img
          src="../img/images/plus.png"
          alt="Toggle"
          data-plus="../img/images/plus.png"
          data-minus="../img/images/minus.png"
        />
      </button>
    </li>
    <li class="extra-item">
      <div class="extra-item-first-block">
        <img src="../img/images/icon-park-outline_petrol.png" alt="Petrol" />
        <div class="extra-info-coast">
          <p>Full Tank Service</p>
          <p>$15</p>
        </div>
      </div>
      <button type="button" class="toggle-btn active">
        <img
          src="../img/images/plus.png"
          alt="Toggle"
          data-plus="../img/images/plus.png"
          data-minus="../img/images/minus.png"
        />
      </button>
    </li>
    <li class="extra-item">
      <div class="extra-item-first-block">
        <img src="../img/images/icon_ Baby seat2.png" alt="Baby seat" />
        <div class="extra-info-coast">
          <p>Child Seat</p>
          <p>$15</p>
        </div>
      </div>
      <button type="button" class="toggle-btn active">
        <img
          src="../img/images/plus.png"
          alt="Toggle"
          data-plus="../img/images/plus.png"
          data-minus="../img/images/minus.png"
        />
      </button>
    </li>
    <li class="extra-item">
      <div class="extra-item-first-block">
        <img src="../img/images/navigation-pointer-01.png" alt="Navigation" />
        <div class="extra-info-coast">
          <p>GPS Navigation System</p>
          <p>$15</p>
        </div>
      </div>
      <button type="button" class="toggle-btn active">
        <img
          src="../img/images/plus.png"
          alt="Toggle"
          data-plus="../img/images/plus.png"
          data-minus="../img/images/minus.png"
        />
      </button>
    </li>
    <li class="extra-item">
      <div class="extra-item-first-block">
        <img src="../img/images/wifi.png" alt="Wi-fi" />
        <div class="extra-info-coast">
          <p>Wi-Fi Hotspot</p>
          <p>$15</p>
        </div>
      </div>
      <button type="button" class="toggle-btn active">
        <img
          src="../img/images/plus.png"
          alt="Toggle"
          data-plus="../img/images/plus.png"
          data-minus="../img/images/minus.png"
        />
      </button>
    </li>
    <li class="extra-item">
      <div class="extra-item-first-block">
        <img
          src="../img/images/Icon_ additional driver.png"
          alt="Additional Driver"
        />
        <div class="extra-info-coast">
          <p>Additional Driver</p>
          <p>$15</p>
        </div>
      </div>
      <button type="button" class="toggle-btn active">
        <img
          src="../img/images/plus.png"
          alt="Toggle"
          data-plus="../img/images/plus.png"
          data-minus="../img/images/minus.png"
        />
      </button>
    </li>
    <li class="extra-item">
      <div class="extra-item-first-block">
        <img src="../img/images/headphones-01.png" alt="Headphones" />
        <div class="extra-info-coast">
          <p>Roadside Waiver</p>
          <p>$15</p>
        </div>
      </div>
      <button type="button" class="toggle-btn active">
        <img
          width="24"
          src="../img/images/plus.png"
          alt="Toggle"
          data-plus="../img/images/plus.png"
          data-minus="../img/images/minus.png"
        />
      </button>
    </li>
  </ul>
</div>
