<footer class="footer">
  <div class="footer-first-block">
    <div class="footer-logo-block">
      <a href="/" class="logo">
        <img src="../img/Logo.png" alt="Logo" />
      </a>
      <p>Your Trusted Ride Awaits.</p>
    </div>
    <div class="footer-form-block">
      <p>Stay up to date</p>
      <form class="footer-form">
        <input
          type="text"
          name="email"
          placeholder="Enter your email"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          required
        />
        <button class="footer-form-btn" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
  <div class="footer-second-block">
    <p>© 2077 Untitled UI. All rights reserved.</p>
    <ul>
      <li><a href="/">Terms</a></li>
      <li><a href="">Privacy</a></li>
      <li><a href="">Cookies</a></li>
    </ul>
  </div>
</footer>
