<div id="extra-info-3" class="insurance">
  <h3 class="insurance-title">Insurance</h3>
  <ul class="insurance-list">
    <li class="insurance-item">
      <div class="insurance-content">
        <h4>No Insurance</h4>
        <p class="insurance-content-cost">Free</p>
        <ul>
          <li>
            <p>Important Notice:</p>
          </li>
          <li>
            <img src="../img/images/alert-circle.png" alt="alert-circle" />
            <p>You are fully responsible for any damage to the vehicle.</p>
          </li>
          <li>
            <img src="../img/images/alert-circle.png" alt="alert-circle" />
            <p>
              Full repair costs will be charged in case of an accident or damage
              (no financial limit).
            </p>
          </li>
        </ul>
        <p class="insurance-content-free-info">
          We strongly recommend choosing one of the insurance options to ensure
          a worry-free journey.
        </p>
      </div>
    </li>
    <li class="insurance-item active">
      <div class="insurance-content">
        <h4>Basic Insurance</h4>
        <p class="insurance-content-cost">15 EUR/day</p>
        <ul>
          <li>
            <img
              src="../img/images/check-circle-broken.png"
              alt="check-circle"
            />
            <p>
              Coverage for vehicle damage in case of an accident (with excess).
            </p>
          </li>
          <li>
            <img
              src="../img/images/check-circle-broken.png"
              alt="check-circle"
            />
            <p>Limited financial liability with a deductible/excess.</p>
          </li>
          <li>
            <img
              src="../img/images/check-circle-broken.png"
              alt="check-circle"
            />
            <p>
              Partial coverage for car body damages (does not cover tires,
              windows, roof, or undercarriage).
            </p>
          </li>
        </ul>
      </div>
    </li>
    <li class="insurance-item">
      <div class="insurance-content">
        <h4>Comprehensive Insurance</h4>
        <p class="insurance-content-cost">25 EUR/day</p>
        <ul>
          <li>
            <img
              src="../img/images/check-circle-brokengreen.png"
              alt="check-circle-green"
            />
            <p>
              Full coverage for all damages (including tires, windows, roof, and
              undercarriage).
            </p>
          </li>
          <li>
            <img
              src="../img/images/check-circle-brokengreen.png"
              alt="check-circle-green"
            />
            <p>Theft protection.</p>
          </li>
          <li>
            <img
              src="../img/images/check-circle-brokengreen.png"
              alt="check-circle-green"
            />
            <p>No deductible/excess (or minimal excess).</p>
          </li>
          <li>
            <img
              src="../img/images/check-circle-brokengreen.png"
              alt="check-circle-green"
            />
            <p>Roadside assistance in case of breakdowns or accidents.</p>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
