<div class="web-nav">
  <p>Home</p>
  <img src="../img/images/chevron-right.png" alt="chevron-right" />
  <p>Search results</p>
  <img src="../img/images/chevron-right.png" alt="chevron-right" />
  <p>Volkswagen Touareg</p>
</div>
<div class="progress-bar-wrapper" id="progressBarWrapper">
  <div class="progress-bar">
    <div class="progress-fill" id="progressFill"></div>
  </div>
  <div class="progress-steps">
    <div class="step-item">
      <img
        class="step-icon"
        src="/src/img/images/indicators.png"
        alt="Step 1"
      />
      <span class="step-label">Add on extras</span>
    </div>
    <div class="step-item">
      <img
        class="step-icon"
        src="../img/images/indicators_notFill.png"
        alt="Step 2"
      />
      <span class="step-label">Insurance</span>
    </div>
    <div class="step-item">
      <img
        class="step-icon"
        src="../img/images/indicators_notFill.png"
        alt="Step 3"
      />
      <span class="step-label">Confirm Order</span>
    </div>
    <div class="step-item">
      <img
        class="step-icon"
        src="../img/images/indicators_notFill.png"
        alt="Step 4"
      />
      <span class="step-label">Payment</span>
    </div>
  </div>

  <div class="block-with-car">
    <img
      src="../img/images/touareg_in_progres.png"
      alt="Touareg_in_progres_bar"
    />
    <div class="block-with-car-info">
      <p>Volkswagen Touareg</p>
      <p>or similar Intermediate</p>
      <p>1 rental day</p>
    </div>
  </div>
</div>
