.header {
  background-color: var(--dark-grey);
  padding: 4px 16px;
  width: 393px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media(desktop) {
    padding: 16px 40px;
    justify-content: start;
    width: 1920px;
    height: 72px;
  }
}
.main-nav {
  display: none;
  @include media(desktop) {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
    ul {
      margin-left: 84px;
      display: flex;
      gap: 24px;
    }
  }
}
.header-actions {
  display: none;
  @include media(desktop) {
    display: block;
    margin-left: 816px;
  }
}
.language-contact-auth {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--white-70);
  @include media(desktop) {
    display: flex;
    gap: 16px;
  }
}
.item-list {
  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: inherit;
  width: 112px;
  height: 40px;

  font-weight: 400;
  font-size: 16px;
  color: var(--white-70);
}
.burger-btn {
  border: none;
  background-color: inherit;
  @include media(desktop) {
    display: none;
  }
}
