.insurance {
  // padding: 32px 16px 0px 16px;
  width: 392px;

  @include media(desktop) {
    margin-top: 40px;
    border-top: 1px solid var(--white-20);
    padding: 16px 0px 0px 0px;
    width: 920px;
    height: 356px;
  }
}
.insurance-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--white);
  @include media(desktop) {
    font-size: 24px;
  }
}
.insurance-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include media(desktop) {
    flex-direction: row;
    gap: 16px;
  }
}
.insurance-item {
  display: flex;

  @include media(desktop) {
    border-radius: 16px;
    padding: 24px;
    width: 294px;
    height: 334px;
    background-color: rgba(255, 255, 255, 0.05);
  }
}
.insurance-item {
  cursor: pointer;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--white-10);

  &.active {
    background-image: url(../img/images/BG_insurance.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50 50;

    background-color: var(--primary-light);
    box-shadow: 0 0 0 2px #c5a690;
  }

  &:focus {
    outline: 2px solid var(--accent);
  }

  .insurance-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.insurance-content {
  h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fefeff;
  }

  @include media(desktop) {
    h4 {
    }
  }
}
.insurance-content-cost {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-transform: capitalize;
  text-align: center;
  color: #fefeff;
}
.insurance-item :only-child li {
  display: flex;
  img {
    width: 16px;
    height: 16px;
  }
}
.insurance-content ul {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.insurance-content li {
  display: flex;
  gap: 4px;
}
.insurance-content li p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #fefeff;
}

.insurance-content-free-info {
  margin-top: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
  color: #656566;
}
